# This file is an example config file.
# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.
# https://github.com/shubham0x13/ender-3-v3-se-klipper/blob/main/printer.cfg

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA5
position_min: -7
position_endstop: -7
position_max: 228
homing_speed: 150

[tmc2208 stepper_x]
uart_pin: PB12
run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA6
position_min: -15
position_endstop: -15
position_max: 226
homing_speed: 150

[tmc2208 stepper_y]
uart_pin: PB13
run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 250
homing_speed: 30
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2208 stepper_z]
uart_pin: PB14
run_current: 0.80
#hold_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.651
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 27.142
#pid_Ki: 1.371
#pid_Kd: 134.351
min_temp: 0
max_temp: 295
max_extrude_cross_section: 5
max_extrude_only_distance: 500
# min_extrude_temp: 0


[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 66.371
#pid_ki: 0.846
#pid_kd: 1301.702
min_temp: 0
max_temp: 115

# [verify_heater extruder]
# [verify_heater heater_bed]
# check_gain_time: 120
# heating_gain: 1.0
# hysteresis: 5

[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
#x_offset: -23. # BFS 2025-02-14
x_offset: -24 
y_offset: -14.5
#z_offset: 2.65
speed: 20
samples: 3
#lift_speed: 5
pin_move_time: 0.4
stow_on_each_sample: false
probe_with_touch_mode: true
samples_tolerance: 0.10
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 114,113
speed: 60
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 10, 10        # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 204, 211    # Max probe range (228-24,226-15)
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 54.5, 45.5
screw1_name: front left screw
screw2: 224.5, 45.5
screw2_name: front right screw
screw3: 224.5, 215.5
screw3_name: rear right screw
screw4: 54.5, 215.5
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CCW-M4

[output_pin beeper]
pin: PB0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

## Use the host as mcu to control its gpio pins
## Uncomment the lines below if you use the hostmcu profile, see main Readme for more info
# [mcu host]
# serial: /opt/printer_data/run/klipper_host_mcu.tty

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 3800
max_z_velocity: 30
square_corner_velocity: 5.0
max_z_accel: 500

[exclude_object]

[virtual_sdcard]
path: /opt/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]
recover_velocity: 25

[gcode_arcs]
resolution: 1.0

[firmware_retraction]
retract_length: 2.2
retract_speed: 90
unretract_extra_length: 0
unretract_speed: 30

[respond]

[force_move]
enable_force_move: true
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[save_variables]
filename: /opt/printer_data/config/variables.cfg

[e3v3se_display]
language: english
logging: true

[include e3v3se_macro.cfg]

[include KAMP_Settings.cfg]

[include macro.cfg]

[include prtouch.cfg]

[include debug.cfg]

[include shell_command.cfg]

[include TEST_SPEED.cfg]

#[include fan_tach_monitor.cfg]

#[include adxl345.cfg]

[include axistwist.cfg]

# Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 5.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 30.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 200   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True  ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 600   ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

variable_extruder_cooldown_target: 90  ; delayed shutdown will be inhibited until the hotend is below this temperature

gcode:

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.432
#*# pid_ki = 0.517
#*# pid_kd = 1709.426
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.881
#*# pid_ki = 1.122
#*# pid_kd = 116.695
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.170833, 0.164583, 0.215417, 0.296667, 0.417500
#*# 	-0.090000, -0.044583, 0.027500, 0.081667, 0.218333
#*# 	-0.195417, -0.161250, -0.060417, 0.009583, 0.137917
#*# 	-0.213750, -0.169583, -0.075000, 0.014167, 0.132500
#*# 	-0.146250, -0.115000, -0.013333, 0.072500, 0.221250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 204.0
#*# min_y = 10.0
#*# max_y = 211.0
#*#
#*# [bltouch]
#*# z_offset = 1.379
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 63.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.4
